<!DOCTYPE html>
<html>
<head>
	<title>About</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/design.css')}}">
	

</head>
<body>
 <center>
	<ul class="some">
  		<li class="some"><a class="some" href="{{url_for('index2')}}" >Home</a></li>
  		<li class="some"><a class="active" href="{{url_for('about')}}">About</a></li>
  		<li class="some"><a class="some" href="{{url_for('articles')}}">Articles</a></li>
  		<div class="dropdown">
    		<button class="dropbtn">Everything You Need To Know </button>
    		<div class="dropdown-content">
      			<a href="{{url_for('antibiotics')}}">Antibiotics</a>
      			<a href="{{url_for('painkillers')}}">Painkillers</a>
      			<a href="{{url_for('whychng')}}">Why Change?</a>
    		</div>
 		</div> 
  		
  		<li class="some"><a class="some" href="{{url_for('alternatives')}}">Alternatives</a></li>
  		
	</ul>
 </center>
	<h1> It's All About Changing The Status Quo</h1>
	<p style="text-align: center;">Are you sick of spending your money on antibiotics and painkillers that don't help? <br> Do you ever get the feeling that you're not exposed to the truth? </p>
	<p style="text-align: center;">Our goal: People would become healthier and they'd stop using unnecessary antibiotics or painkillers without thinking and knowing everything about them first. We provide you all the needed information you need to decide. </p>

	<center><div class="statusQuo">
		<p>
			Pharmacuetical companies want money, <br>
			no matter how
		</p>
	</div>

	<p><i class="downArrow"></i></p>

	<br>

	<div class="statusQuo">
		<p>
			A lot of unnecessary and harmful antibiotics <br>
			/painkillers with side-effects are made and sold <br>
			P.S they are very profitable
		</p>
	</div>

	<p><i class="downArrow"></i></p>

	<br>
	
	<div class="statusQuo">
		<p>
			We trust everything a doctor tells us <br>
			and we take these antibiotics and painkillers
		</p>
	</div>

	<p><i class="downArrow"></i></p>

	<br>

	<div class="statusQuo">
		<p>
			We get hurt by side effects of what we take <br>
			and we are never exposed to the definite TRUTH
		</p>
	</div></center>


	<div class="bottom1">
			<ul class="some"> 
				<li class="some"><a class="bottom" href="mailto:mlayan147@gmail.com"> Contact us </a></li> 
			</ul>
	</div>

</body>
</html>